<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinFormTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <WinFormTest.Properties.Settings>
            <setting name="SECURE_API_URI_COUNTY" serializeAs="String">
                <value>http://127.0.0.1/WebAPI/</value>
            </setting>
            <setting name="Default_Submitter_Password" serializeAs="String">
                <value>Secure123456</value>
            </setting>
            <setting name="Default_Submitter_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_County_Password" serializeAs="String">
                <value>Secure123456</value>
            </setting>
            <setting name="Default_County_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SECURE_API_URI_SUBMITTER" serializeAs="String">
                <value>http://127.0.0.1/WebAPI/</value>
            </setting>
            <setting name="Default_County_Password_2Factor" serializeAs="String">
                <value />
            </setting>
            <setting name="TwoFactor_Enabled_County" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwoFactor_Enabled_Submitter" serializeAs="String">
                <value>False</value>
            </setting>
        </WinFormTest.Properties.Settings>
    </userSettings>
</configuration>
